.Search {
  text-align: center;
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  top: 100%;
}

.SearchButton {
  border: none;
  height: 3.5rem;
  width: 80%;
  background: var(--primary-blue);
  box-shadow: 4px 2px 4px rgb(0 0 0 / 20%);
  cursor: pointer;
  transition: var(--transition);
  border-left: none;
}

.SVGButton {
  color: var(--primary-white);
  transition: var(--transition);
}

.SearchButton:hover {
  background: var(--third-blue);
  border: 1px solid var(--third-blue);
  border-left: none;
}

.SearchButton:focus {
  outline: none;
}

@media (min-width: 768px) {
  .Search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
    top: 0;
  }

  .ButtonContainer {
    height: 5rem;
    width: 5rem;
    background: var(--primary-white);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .SearchButton {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 5px;
  }
}
